@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4f4b4b;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-width {
  max-width: 1024px;
  margin: 0 auto;
}

.text-h2 {
  font-size: 3rem;
  padding: 3rem 0;
  text-align: center;
}

/* btn*/

.btn-3 {
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid gray;
  background-color: #fff;
  box-shadow: 4px 4px gray;
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.btn-3:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.btn-2 {
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid white;
  background-color: lightgray;
  box-shadow: 4px 4px white;
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.btn-2:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

/* end btn */

/* navigation bar */

.header {
  background-color: lightgray;
  padding: 0.8rem;
  border-bottom: 2px solid rgb(198, 224, 233, 0.7);
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(80px);
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.logo > img {
  width: 100%;
}

.icon-toggler {
  color: var(--main-color);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.navbar {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: var(--main-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}

.navbar a:hover {
  color: transparent;
  background: linear-gradient(180deg, lightblue, rgb(4, 151, 200));
  -webkit-background-clip: text;
}

/* javascript */

@media screen and (max-width: 768px) {
  .navigation-bar {
    flex-wrap: wrap;
  }

  .icon-toggler {
    display: block;
    transition: all 0.2s;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 0;
  }

  .navbar.show {
    margin-top: 1rem;
    opacity: 1;
    height: 280px;
  }

  .navbar li {
    border-bottom: 1px solid #5ed7ff;
  }
}

/* end navbar */

/* hero section  */

.hero-container {
  background-color: lightgray;
  padding: 5rem 0;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text-hero > h2 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: capitalize;
}

.text-1,
.text-2 {
  font-size: 1.3rem;
}

.text-2 {
  margin: 2rem 0;
}

.img-hero {
  width: 450px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid lightcyan;
  box-shadow: 0 4px 4px white;
}

.img-hero > img {
  width: 100%;
  border-radius: 48%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    padding: 2rem 0.5rem;
  }

  .text-hero {
    margin-top: 2rem;
    text-align: center;
  }

  .img-hero {
    width: 350px;
  }

  .btn-2 {
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
  }
}

/* end hero section  */
.img-about {
  width: 500px;
  overflow: hidden;
}

.img-about > img {
  width: 100%;
  border-radius: 10px;
}

.text-p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.text-p > p {
  margin: 2rem 0;
}

.grid-1-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.space {
  margin-bottom: 2rem;
}

.card-1 {
  flex: 1 1 6rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 5px 10px 5px gray;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .img-about {
    width: 330px;
    margin: 0 auto;
  }

  .text-p {
    padding: 0 2rem;
  }

  .text-p > p {
    margin: 1rem 0;
  }

  .grid-1-3 {
    padding-top: 1rem;
  }

  .btn-3 {
    height: 60px;
    font-size: 1.3rem;
  }
}
/* end about  */

/* khowledge  */

.texticon {
  display: flex;
  margin: 10px 0 0 0;
}

.title {
  display: flex;
  align-items: center;
}

.text-header-skill {
  margin: 0.5rem 0;
}

.html {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 2px 2px 2px 2px;
  border-width: 1px 1px 1px 200px;
  width: 300px;
}
.css {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 200px;
  background-size: 50px;
  width: 300px;
}
.js {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 150px;
  background-size: 50px;
  width: 300px;
}
.bootstrap {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 100px;
  background-size: 50px;
  width: 300px;
}
.php {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 100px;
  background-size: 50px;
  width: 300px;
}
.laravel {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 100px;
  background-size: 50px;
  width: 300px;
}

.word {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 150px;
  background-size: 50px;
  width: 300px;
}
.excell {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 100px;
  background-size: 50px;
  width: 300px;
}
.ppt {
  padding: 0.2rem;
  border: 2px solid;
  border-radius: 10px;
  border-width: 1px 1px 1px 150px;
  background-size: 50px;
  width: 300px;
}

.text-icons {
  display: flex;
}

.text-icons i,
h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.text-khowledge {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.skill-program {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.pro-skill {
  font-size: 1.3rem;
  border: 2px solid lightgray;
  box-shadow: 5px 5px 5px rgb(78, 76, 76);
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  text-align: center;
}

.education {
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 5px;
}

.text-education {
  text-align: center;
  text-transform: uppercase;
}

.school {
  margin: 1rem 0;
}

.school > h3 {
  font-size: 1.3rem;
}

.right {
  text-align: right;
}

.education article p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .skill {
    padding: 0 2rem;
  }
  .text-khowledge {
    padding: 0 1rem;
  }
  .pro-skill {
    flex: 1 1 5rem;
  }
}

/* end khowledge */

/* services */

.services-container {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container h4 {
  text-align: center;
}

.service-card {
  border: 2px solid #ccc;
  padding: 1rem;
  box-shadow: 10px 10px 0px lightgray;
}

.service-card h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.flex-card {
  text-align: center;
  display: flex;
}

.flex-card i,
p {
  font-size: 1.3rem;
}

.grid-1-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

@media screen and (max-width: 768px) {
  .grid-1-4 {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* end service  */

/* contact  */

.paddings {
  padding-bottom: 2rem;
}

.contact-card {
  margin-bottom: 1rem;
}

.card-flex {
  display: flex;
  gap: 0.5rem;
}

.card-flex i {
  font-size: 1.3rem;
}

.form-card {
  margin: 0 auto;
}

.form-input input,
textarea {
  width: 400px;
  padding: 18px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid gray;
  border-radius: 5px;
}

.textarea {
  height: 150px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    margin: 0 auto;
  }

  .form-input input,
  textarea {
    width: 300px;
  }
}

/* end  */

/* footer  */

.footer-container {
  background-color: lightgray;
  padding: 4rem;
}

.footer-card {
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .text-h2 {
    margin-top: 5rem;
  }

  .grid-1-2 {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }
}
